.footer{
    width: 100%;
    grid-area: footer;
    margin-top: 45px;

    footer{
        display: grid;
        grid-template-areas: 
            "logo datos nav"
            "terminos datos nav";
        width: 100%;
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(2, 1fr);
        color: $white;
        background-color: $blue_low;
        align-items: center;
        justify-items: center;

        #logo-footer{
            grid-area: logo;
            display: flex;

            p{
                text-align: center;
                margin-top: 20px;
                margin-left: 5px;
                font-size: 1.5rem;
            }

            img{
                height: 40px;
                width: 40px;
            }
            
        }

        #terms--footer{
            grid-area: terminos;
            align-self: center;
            justify-self: center;
        }

        #data--footer{
            grid-area: datos;
        }

        #links--footer{
            grid-area: nav;
            display: grid;
        }

    }
    

}

@media only screen and (min-width: 1024px){

    .footer{
        footer{
            height: 120px;
            margin-top: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row; 
            justify-content: space-evenly;
            color: $white;
            background-color: $blue_low;

            #logo-footer{
                display: flex;
                align-items: center;

                p{
                    font-size: 2.8rem;
                    font-weight: 600;
                    margin-left: 8px;
                }
                img{
                    height: 80px;
                    width: 80px;
                }
            }

            #terms--footer{
                font-size: 1.3rem;
                font-weight: 100;
            }
            #data--footer{
                font-size: 1.4rem;
                font-weight: 100;
            }
            #links--footer{
                font-size: 1.5rem;
                a{
                    margin-right: 10px;
                }
            }
        }

    } 
    
}