@mixin sizes($height, $width) {
    width: $width;
    height: $height;
}


.cont-general{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cont-decript-tech{
    /*width: 100%;
    height: 340px;*/
    @include sizes(340px,100%);
    display: grid;
    grid-template-areas: 
    "title title title"
    "video video video"
    "desc desc desc"
    "btn btn btn";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
    justify-content: center;
    margin-bottom: 10px;

    h2{
        grid-area: title;
        justify-self: center;
    }

    button{
        /*width: 120px;
        height: 35px;*/
        @include sizes(35px, 120px);
        background-color: $blue_low;
        color: $white;
        border: none;
        border-radius: 8px;
        border-bottom: 2px solid $white;
    }

    video{
        grid-area: video;
        width: 95%;
        justify-self: center;
        border-radius: 16px;
    }

    p{
        grid-area: desc;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        text-align:initial;
        font-size: 1.3rem;
    }

    button{
        grid-area: btn;
        justify-self: center;
    }
}

@media only screen and (max-width: 360px){
    .cont-decript-tech{
        //height: 340px;
        @include sizes(340px, 100%);
        video{
            width: 70%;
        }
    }
}

@media only screen and (max-width: 390px){
    
    
    .cont-decript-tech{
        //height: 320px;
        @include sizes(320px, 100%);
        video{
            width: 75%;
        }
    }
}

@media only screen and (min-width: 390px){
    
    .cont-decript-tech{
        height: 300px;
        video{
            width: 70%;
        }
    }
}

@media only screen and (min-width: 412px){
   
    .cont-decript-tech{
        height: 300px;
        video{
            width: 70%;
        }
    }
}

@media only screen and (min-width: 1024px){
   
    .cont-general{
        margin-top: 90px;

        
    }

     .cont-decript-tech{
       /* width: 100%;
        height: 400px;*/
        @include sizes(400px, 100%);
        display: grid;
        grid-template-areas: 
        "title title title title"
        "video video desc desc"
        "video video desc desc"
        "video video btn btn";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
        justify-content: center;
        margin-bottom: 10px;

        h2{
            grid-area: title;
            text-align: start;
            width: 100%;
            font-size: 3rem;
            text-align: center;
            font-weight: 600;
        }

        video{
            grid-area: video;
            width: 80%;
        }

        p{
            grid-area: desc;
            text-align: justify;
            font-size: 1.8rem;
            align-self: center;
            justify-self: center;
        }
        button{
            grid-area: btn;
            justify-self: center;
        }
    }
    

}