$blue-low: #0c89cc;
$night_blue: #01113a;
$gradient: linear-gradient(to bottom, #02072d, #020d34, #01113a, #001441, #011748, #011e52, #01265d, #002e68, #003d78, #004d87, #005d96, #086da5);
$white: white;
$dark-blue: #02072d;